.menu {
  display: grid;
  width: 300px;
  background-color: rgb(255, 255, 255);
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 33.33%);
  padding: 10px 10px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgb(245, 245, 245);
}
.title {
  margin: 10px;
  color: rgb(70, 70, 90);
}
.big {
  font-weight: 500;
  font-size: 22px;
}
.small {
  font-weight: 400;
  font-size: 14px;
  color: rgb(168, 172, 190);
}

.name {
  margin-top: 5px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(70, 70, 90);
}

.price {
  display: block;
  margin-top: 5px;
  color: rgb(235, 55, 48);
  float: right;
  font-weight: 500;
}

.isMeat {
  color: rgb(168, 172, 190);
  font-size: 14px;
  margin-top: 5px;
}

.item {
  height: 60px;
  padding: 5px;
}

.border {
  border-bottom: 1px solid rgb(245, 245, 245);
}

.zxc-menu {
  width: 300px;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(245, 245, 245);
}

.zxc-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(245, 245, 245);
}
