/* @red: rgb(235, 55, 48);
 @deepgray:rgb (94,98,116);
 @gray:rgb (65,67,84);
 @dark:rgb (0,9,53); */
.App {
  background-color: rgb(243, 248, 255);
}

.tab {
  height: 100px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-self: center;
  padding: 0 30px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 0 10px rgb(245, 245, 245);
}

.link {
  text-decoration: none;
  display: block;
  color: rgb(94, 98, 116);
  font-size: 18px;
  width: 130px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 0 10px;
}
.selected {
  font-size: 24px;
  color: rgb(0, 9, 53);
}

.selected div {
  width: 110px;
  height: 80px;
  border-bottom: 2px solid rgb(235, 55, 48);
}
